

<!-- <div style="display: flex; height: 100%; align-items: center; justify-content: center; ">
    <mat-spinner diameter="50" ></mat-spinner>
</div> -->

<!-- <ng-container *ngIf="apiService.loader$ | async else elseBlock">
    <div style="display: flex; height: 100%; align-items: center; justify-content: center;">
        <h3>Loading...</h3>
    </div>
</ng-container>
<ng-template #elseBlock> -->
    <div class="builds-big" appFontResizer>
        <h1 class="builds-count">{{count$ | async}}</h1>
        <h1 class="builds-text"> {{buildsState}}</h1>
    </div>
<!-- </ng-template> -->