<div class="page">
    <div class="row">
        <div class="column sm-12 lg-12" style="margin: 16px;">
            <h1 class="mt-0">{{title}}</h1>
            <div class="page-section">
                <p class="intro-text">DODA stands for DevOps Data Analytics.</p>
                <p>This dashboard aims to highlight software delivery performance.</p>
            </div>
            <h1 style="margin-top: 46px;">DORA</h1>
            <div class="page-section">
                <p class="intro-text">DORA stands for DevOps Research and Assessment.</p>
                <p>DORA metrics are key performance indicators used to assess the effectiveness and efficiency of DevOps
                    practices within an organization,</p>
                <ul>
                    <li><b>Deployment Frequency</b>: Count of successful pipelines.</li>
                    <li><b>Lead Time For Change</b>: Time taken for a commit to successfully get through staging area.</li>
                    <li><b>Mean Time To Recover</b>: Recovery time from terminal to success pipeline.</li>
                    <li><b>Change In Failure Rate</b>: Percentage of failed pipelines.</li>
                </ul>
            </div>
        </div>
    </div>
</div>