.appcontent .tile {
    padding: 14px 0;
    padding-top: 0;
}
.menu-footer {
    padding: 0 32px;
}

.nav-header {
    margin-top: 2px;
    margin-left: 4px;
}

i:not(.icon-notification) {
   scale: 1.5; 
}