<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- System bar -->
<header class="sysbar mia-header" [ngClass]="{ hidden: false }">
  <div class="items-container">
    <div class="item">
      <i class="icon icon-econ"></i>
      <span class="product">{{ dashboardTitle }}</span>
    </div>
  </div>
  <div class="items-container">
    <div class="item hover">
      <a  id="doda-version" target="_blank">v0.0.1</a>
    </div>
    <div class="item notification-log-trigger">
      <i class="icon icon-notification"></i>
    </div>
    <div class="item hover settings-trigger">
      <i class="icon icon-profile"></i>
      <span class="username">{{ "Signum" }}</span>
    </div>
  </div>
</header>
<main>
  <aside class="syspanel hidden">
    <div class="settings">
      <div class="syspanel-top">
        <span class="syspanel-title"></span>
        <i class="syspanel-close icon icon-cross"></i>
      </div>
      <div class="row">
        <div class="column sm-12 container">
          <div class="profile">
            <i class="icon icon-profile"></i>
            <div class="username">
              {{ "Username" }}
            </div>
          </div>
          <div class="content">
            <div> Switch theme
              <label class="switch">
                <input type="checkbox" (change)="switchTheme()">
                <i class="ball"></i>
                <span data-enabled="Light" data-disabled="Dark"></span>
              </label>
            </div>
          </div>
          <div class="bottom">
            <button type="button" class="btn big" (click)="logout()">
              <i class="icon icon-log-out"></i> Sign out
            </button>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="app slide-right">
    <nav class="appbar">
      <div class="actions-left">
        <div class="item">
          <i [matTooltip]="menuTooltip" matTooltipPosition="above" (click)="handleAppNav()" class="navigation-toggle closed"></i>
        </div>
        <div class="menu-anchor open-menu">Menu</div>
        <div class="title open-menu">
          <div class="breadcrumb" id="breadcrumb-action"></div>
        </div>
      </div>
      <div class="actions-right"></div>
    </nav>
    <div class="appbody">
      <div class="appnav">
        <div class="tree navigation">
          <ul>
            <li>
              <a class="item" routerLink="/home" routerLinkActive="active" queryParamsHandling="merge"><i
                class='icon icon-home'></i><div class="nav-header">Home</div></a>
          </li>
          <li>
            <a class="item" routerLink="/table" routerLinkActive="active" queryParamsHandling="merge"><i class='icon icon-app-launcher'></i>
              <div class="nav-header">EIC Application/Product Staging Pass Rates</div> 
              </a>
          </li>
        </ul>
      </div>
      <div class="tree navigation">
        <ul>
          <li>
            <a class="item" target="_blank" [href]="userGuideUrl" queryParamsHandling="merge"><i
                class='icon icon-info'></i><div class="nav-header">User Guide </div></a>
          </li>
          <li>
            <a class="item" routerLink="/feedback" routerLinkActive="active" queryParamsHandling="merge"><i
                class='icon icon-feedback'></i><div class="nav-header">Feedback</div>
            </a>
          </li>
          <li>
            <a class="item" target="_blank" [href]="supportUrl"><i class='icon icon-link'></i><div class="nav-header">Support</div></a>
          </li>
        </ul>
      </div>
    </div> 
    <div class="appcontent">
      <div class="tile sm-12" id="t-one-tile">
        <div class="content">
          <div class="height-80vh">
            <!-- Entire app components fall in here -->
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <app-footer></app-footer>
</div>
</main>